In [73]:
import pandas as pd
from datetime import datetime
from tqdm import tqdm

In [5]:
# http://weatherarchive.ru/

In [6]:
rus_eng_db = pd.read_html("https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_Russia")[0]

In [7]:
rus_eng_db

            City Russian name        Federal subject
0         Abakan       Абакан  Republic of Khakassia
1          Abaza        Абаза  Republic of Khakassia
2       Abdulino     Абдулино        Orenburg Oblast
3         Abinsk       Абинск         Krasnodar Krai
4        Achinsk       Ачинск       Krasnoyarsk Krai
...          ...          ...                    ...
1108     Zubtsov       Зубцов            Tver Oblast
1109     Zuyevka       Зуевка           Kirov Oblast
1110  Zvenigorod   Звенигород          Moscow Oblast
1111   Zvenigovo    Звенигово                Mari El
1112     Zverevo      Зверево          Rostov Oblast

[1113 rows x 3 columns]

In [22]:
eng_rus_cities_dict = {}
rus_eng_cities_dict = {}
for i in range(len(rus_eng_db)):
    city_eng = rus_eng_db.iloc[i]['City']
    if ' ' in city_eng:
        city_eng = city_eng.replace(' ', '%20')
    city_rus = rus_eng_db.iloc[i]['Russian name']
    if city_rus == "Екатеринбург":
        city_eng='Ekaterinburg'
    if city_rus == "Орёл":
        city_rus = "Орел"
        city_eng = 'Eagle'
    if city_rus == 'Ростов-на-Дону':
        city_eng = 'Rostov-on-don'
    eng_rus_cities_dict[city_eng] = city_rus
    rus_eng_cities_dict[city_rus] = city_eng

In [23]:
eng_rus_cities_dict["Simferopol"] = "Симферополь"
rus_eng_cities_dict["Симферополь"] = "Simferopol"

eng_rus_cities_dict["Sevastopol"] = "Севастополь"
rus_eng_cities_dict["Севастополь"] = "Sevastopol"

In [24]:
#from main df
cities =  ['Биробиджан', 'Владивосток', 'Магадан', 'Петропавловск',
       'Улан-Удэ', 'Хабаровск', 'Чита', 'Южно-Сахалинск', 'Якутск',
       'Ижевск', 'Казань', 'Киров', 'Нижний Новгород', 'Оренбург',
       'Пенза', 'Пермь', 'Самара', 'Саратов', 'Ульяновск', 'Уфа',
       'Чебоксары', 'Архангельск', 'Великий Новгород', 'Вологда',
       'Калининград', 'Мурманск', 'Петрозаводск', 'Псков',
       'Санкт-Петербург', 'Сыктывкар', 'Владикавказ', 'Ставрополь',
       'Барнаул', 'Иркутск', 'Кемерово', 'Красноярск', 'Новосибирск',
       'Норильск', 'Омск', 'Томск', 'Екатеринбург', 'Челябинск',
       'Белгород', 'Брянск', 'Владимир', 'Воронеж', 'Курск', 'Липецк',
       'Москва', 'Орел', 'Рязань', 'Смоленск', 'Тверь', 'Тула',
       'Ярославль', 'Астрахань', 'Волгоград', 'Краснодар',
       'Ростов-на-Дону', 'Симферополь', 'Севастополь']

In [25]:
for city in cities:
    if city in rus_eng_cities_dict.keys():
        pass
    elif city == "Петропавловск":
        city = "Петропавловск-Камчатский"
    else:
        print(city)

In [26]:
cities

['Биробиджан',
 'Владивосток',
 'Магадан',
 'Петропавловск',
 'Улан-Удэ',
 'Хабаровск',
 'Чита',
 'Южно-Сахалинск',
 'Якутск',
 'Ижевск',
 'Казань',
 'Киров',
 'Нижний Новгород',
 'Оренбург',
 'Пенза',
 'Пермь',
 'Самара',
 'Саратов',
 'Ульяновск',
 'Уфа',
 'Чебоксары',
 'Архангельск',
 'Великий Новгород',
 'Вологда',
 'Калининград',
 'Мурманск',
 'Петрозаводск',
 'Псков',
 'Санкт-Петербург',
 'Сыктывкар',
 'Владикавказ',
 'Ставрополь',
 'Барнаул',
 'Иркутск',
 'Кемерово',
 'Красноярск',
 'Новосибирск',
 'Норильск',
 'Омск',
 'Томск',
 'Екатеринбург',
 'Челябинск',
 'Белгород',
 'Брянск',
 'Владимир',
 'Воронеж',
 'Курск',
 'Липецк',
 'Москва',
 'Орел',
 'Рязань',
 'Смоленск',
 'Тверь',
 'Тула',
 'Ярославль',
 'Астрахань',
 'Волгоград',
 'Краснодар',
 'Ростов-на-Дону',
 'Симферополь',
 'Севастополь']

In [27]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',  'August', 'September', 'October', 'November', 'December']
years = [2015, 2016, 2017, 2018, 2019]

In [28]:
def parse_weather(city_name):
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',  'August', 'September', 'October', 'November', 'December']
    years = [2015, 2016, 2017, 2018, 2019]
    
    df = pd.DataFrame(columns= ['Деньмесяца', 'Среднесуточнаятемпература', 'Средняявлажность',
       'Атмосферноедавление', 'Скоростьветра', "Год", "Месяц"])
    for year in years:
        for month in months:
            url = f"http://weatherarchive.ru/Temperature/{city_name}/{month}-{year}"
            df_temp = pd.read_html(url)[2]
            df_temp['Год'] = year
            df_temp['Месяц'] = month
            df = df.append(df_temp,  ignore_index = True)
            
    return df

In [31]:
df = pd.DataFrame(columns= ['Деньмесяца', 'Среднесуточнаятемпература', 'Средняявлажность',
       'Атмосферноедавление', 'Скоростьветра', "Год", "Месяц", 'Город'])
for city in tqdm(cities):
    if city == 'Петропавловск':
        city2 = "Петропавловск-Камчатский"  
        eng_name = rus_eng_cities_dict[city2]
        df_temp = parse_weather(eng_name)
        df_temp['Город'] = city
        df = df.append(df_temp,  ignore_index = True)   
    else:
        eng_name = rus_eng_cities_dict[city]
        df_temp = parse_weather(eng_name)
        df_temp['Город'] = city
        df = df.append(df_temp,  ignore_index = True)

100%|██████████████████████████████████████████████████████████████████████████████████| 61/61 [07:33<00:00,  7.43s/it]

In [51]:
df.to_csv("weather_by_city2raw.csv", sep=';', index=False, encoding='utf-8-sig')

In [52]:
 df['Средняявлажность'] = df['Средняявлажность'].apply(lambda x: float(x[:-2]))

In [53]:
df['Атмосферноедавление'] = df['Атмосферноедавление'].apply(lambda x: int(x))

In [54]:
df['Скоростьветра'] = df['Скоростьветра'].apply(lambda x: int(x[:-3]))

In [56]:
df['Деньмесяца'] = df['Деньмесяца'].apply(lambda x: x.split(' ')[0])

In [57]:
df

,Деньмесяца,Среднесуточнаятемпература,Средняявлажность,Атмосферноедавление,Скоростьветра,Год,Месяц,Город
0,1,−25.5°C,67.3,1013,3,2015,January,Биробиджан
1,2,−23.33°C,62.6,1011,4,2015,January,Биробиджан
2,3,−21.71°C,60.2,1012,3,2015,January,Биробиджан
3,4,−22.63°C,62.0,1014,2,2015,January,Биробиджан
4,5,−21°C,72.1,1015,2,2015,January,Биробиджан
...,...,...,...,...,...,...,...,...
102567,27,+6.14°C,84.4,750,5,2019,December,Севастополь
102568,28,+4.71°C,77.8,753,3,2019,December,Севастополь
102569,29,+4.57°C,79.2,757,4,2019,December,Севастополь
102570,30,+3.57°C,80.5,760,6,2019,December,Севастополь
102571,31,+3.57°C,84.2,757,4,2019,December,Севастополь

In [77]:
date_col = []
for i in range(len(df)):
    year = str(df.iloc[i]['Год'])
    month = str(df.iloc[i]['Месяц'])
    day = str(df.iloc[i]['Деньмесяца'])
    if len(day) == 1:
        day = '0' + day
    date_col.append(datetime.strptime(year+month+day, '%Y%B%d').date())

In [79]:
df['Дата'] = date_col

,Деньмесяца,Среднесуточнаятемпература,Средняявлажность,Атмосферноедавление,Скоростьветра,Год,Месяц,Город,Дата
0,1,−25.5°C,67.3,1013,3,2015,January,Биробиджан,2015-01-01
1,2,−23.33°C,62.6,1011,4,2015,January,Биробиджан,2015-01-02
2,3,−21.71°C,60.2,1012,3,2015,January,Биробиджан,2015-01-03
3,4,−22.63°C,62.0,1014,2,2015,January,Биробиджан,2015-01-04
4,5,−21°C,72.1,1015,2,2015,January,Биробиджан,2015-01-05
...,...,...,...,...,...,...,...,...,...
102567,27,+6.14°C,84.4,750,5,2019,December,Севастополь,2019-12-27
102568,28,+4.71°C,77.8,753,3,2019,December,Севастополь,2019-12-28
102569,29,+4.57°C,79.2,757,4,2019,December,Севастополь,2019-12-29
102570,30,+3.57°C,80.5,760,6,2019,December,Севастополь,2019-12-30
102571,31,+3.57°C,84.2,757,4,2019,December,Севастополь,2019-12-31

In [82]:
df['Среднесуточнаятемпература'] = df['Среднесуточнаятемпература'].apply(lambda x: (x[:-2]))

,Деньмесяца,Среднесуточнаятемпература,Средняявлажность,Атмосферноедавление,Скоростьветра,Год,Месяц,Город,Дата
0,1,−25.5,67.3,1013,3,2015,January,Биробиджан,2015-01-01
1,2,−23.33,62.6,1011,4,2015,January,Биробиджан,2015-01-02
2,3,−21.71,60.2,1012,3,2015,January,Биробиджан,2015-01-03
3,4,−22.63,62.0,1014,2,2015,January,Биробиджан,2015-01-04
4,5,−21,72.1,1015,2,2015,January,Биробиджан,2015-01-05
...,...,...,...,...,...,...,...,...,...
102567,27,+6.14,84.4,750,5,2019,December,Севастополь,2019-12-27
102568,28,+4.71,77.8,753,3,2019,December,Севастополь,2019-12-28
102569,29,+4.57,79.2,757,4,2019,December,Севастополь,2019-12-29
102570,30,+3.57,80.5,760,6,2019,December,Севастополь,2019-12-30
102571,31,+3.57,84.2,757,4,2019,December,Севастополь,2019-12-31

In [85]:
float('-2.2')

-2.2

In [89]:
df['Номер недели'] = df['Дата'].apply(lambda x: x.strftime('%W'))

In [94]:
df.columns

Index(['Деньмесяца', 'Среднесуточнаятемпература', 'Средняявлажность',
       'Атмосферноедавление', 'Скоростьветра', 'Год', 'Месяц', 'Город', 'Дата',
       'Номер недели'],
      dtype='object')

In [97]:
df[['Среднесуточнаятемпература', 'Средняявлажность',
       'Атмосферноедавление', 'Скоростьветра', 'Город', 'Дата',
       'Номер недели']].to_csv("weather_by_city2.csv", sep=';', index=False, encoding='utf-8-sig')

In [106]:
data = pd.read_csv('weather_by_city2.csv', sep=';')